/* Declarando variável no elemento raiz do CSS: Root */
:root{
    --vermelha: #E50914;
    --preta: #141414;
}

/* Reset CSS */
*{ 
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/* Importando fonte */
@font-face {
    font-family: "bebas";
    src: url(/font/bebas-neue/BebasNeue.otf);    
}

/* Box que abraça todo o site */

header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

header.container{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, black,transparent);
    padding: 0px 4%;
    justify-content: space-between;
}

a.logo{
    color: var(--vermelha);
    font-family: "bebas";
    font-size: 2rem;
    letter-spacing: .14rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 5px;
    margin-top: 5.5px;
}

/* Textos do menu de navegação */
header ul.nav-list{
    margin-left: 2.5rem;
    font-size: .85rem;
}

.menu-navigation{
    display: flex;
    align-items: center;
    height: 68px;
}

.selected{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Lista não ordenada do header */
header ul li{
    display:inline-block;
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #E5E5E5;
    margin-right: 1rem;
    padding: 0;
}

header ul li a:hover{
    color: #B3B3B3;
    transition: ease-out 0.4s;
}

header .secondary-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navi-element{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-right: 21px;

}

header .navi-element a{
    text-decoration: none;
    color: #E5E5E5;
}

header .account-dropdown-button a img{
    border-radius: 12%;
    text-decoration: none;
    margin-top: 4px;
}

header button{
    background-color: transparent;
    border: transparent;
}

header button span img{
    background-color: transparent;
}

body{
    background-color: var(--preta);
    background-image: linear-gradient(to bottom, transparent 55%, black 70%), url(/img/Maid_Fundo.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    letter-spacing: 0rem;
    color: #fff;
}

/* MAIN */
main .container{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0px 4%;
    justify-content: space-between;
    max-width: 44%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7%;
}

.filme-principal{
    margin-top: 9.5%;
}

.titulo{
    font-family: Agency FB;
    font-size: 12rem;
}

.descricao{
    font-size: 1.1rem;
    text-shadow: #333131 0.1em 0.1em 0.3em;
    line-height: 135%;
    margin-top: -20px;
}

.botoes{
    display: flex;
    align-items: center;
    padding: 0px 4%;
}

.botao-assistir, .botao-informacoes{
    padding: .7% 2%;
    border-radius: 4px;
    border: transparent;
    margin-right: 1%;
    margin-top: 1.5%;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .5px;
    font-family: Calibri;
}

.botao-assistir{
    background-color: white;
}

.botao-assistir:hover{
    background-color: rgba(255, 255, 255, .8)
}

.botao-informacoes{
    background: rgba(114, 118, 120, 0.75);
    color: white;
}

.botao-informacoes:hover{
    background-color: rgba(114, 118, 120, 0.45);

}

.fas{
    padding-right: 10px;
}

.box-filme{
    height: 60%;
    width: 60%;
    display: block;
}

.owl-stage{
    margin-left: 4%;
}

.sub-titulo1{
    margin: 7.5% 0% .8% 4%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: #333131 0.1em 0.1em 0.3em;
    color: #E5E5E5;
}

/* Ativando cor no header */
.enable{
    background-color: #0F0F0F;
    transition: ease-in-out .4s;
}

.item::before{
    content: url(/img/netflix_logo_icon_22px.png);
    position: absolute;
    top: 4%;
    left: 1%;
}

.sub-titulo2{
    margin: 1% 0% .8% 4%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: #333131 0.1em 0.1em 0.3em;
    color: #E5E5E5;
}
